*{
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   
}
body{
    width: 100%;
    height: auto;
    /* background-color:black !important; */
    gap: 1rem;
    background-color:whitesmoke!important;
    color:black;
    
}
#logo img{
    object-fit: cover;
    width: 100px;
    height: 50px;

}
#drop {
    border: 2px solid #E89821 !important;
    outline: none !important;
    color: #E89821;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 8px !important;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.section-padding{
    padding: 100px;
}
#nav{
    margin-right: 17rem;
    padding-top: 1rem;
}
#home{
    margin-right: 2rem;
}
#about{
    margin-right: 2rem;

}
@media screen and (max-width:767px){
    
    
    #nav{
        width: 100%;
        display: flex;

    }

}
#contact{
    margin-right: 2rem;
    
}
#bt{
    margin-right: -10rem;
}
#bt button{
    padding: 15px 30px;
    border-radius: 5px;
   padding: 12, 20;
    color: #F8F8F8 !important;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.1em;
    border-color: #E89821;
}
#bt button:hover{
    background-color: #E89821;

}



.nav-item a{
    position: relative;
    color: #F8F8F8;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: 500;
    font-size: 1rem;
}
.nav-item a:before{
    content: '';
    position: absolute;
    background-color: #E89821;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;

}
.nav-item a:hover:before{
    width: 100%;
}
.nav-item a#about::after{
    content: '';
    position: absolute;
    background-color: #E89821;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    /* transition: 0.3s ease; */

}
/* Contact section */

#cont{

    height: 400px;
    margin-top: 13em;
    border: 0.3px #E89821 solid;
    border-radius: 0.8rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}
.p{
    position: relative;
    top: -3.5rem;
    font-weight: bold;
    font-size: 2rem;
}
.play{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.hold{
    margin-top: 1rem;
    width: 400px;
    height: auto;
    border: 1px black solid;
    border-radius: 10px;   
}
.b{
    margin-top: 3rem;
}
.b i{
    color: rgba(255, 0, 0, 0.514) !important;
}
.f{
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: #e8982136;
}
.hold p{
    padding: 0 0 0 2rem;
}
p{
    
    font-size: 1.2rem;
}
.hold a{
    text-decoration: none;
    color: black;
}
.hold i{
    font-size: 1.5rem;
    color:  #25D366;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .ff h5{
        font-size: 1rem;

    }
}
@media only screen and (max-width: 767px){
    .p{
        position: relative;
        top: -2rem;
        font-weight: bold;
        font-size: 1.5rem;
    }
    #cont{
        width: 100%;
        height:auto;
        margin-top: 6rem;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .play{
        width:auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        
    }
    .hold{
        margin-top: 1rem;
        width: 300px;
        height: auto;
        border: 1px black solid;
        border-radius: 10px;
        margin: auto;   
    }
    .f{
        
        width: 100%;
        height: 50px;
        background-color: #e8982136;
        padding: 5px;
    }
    .ff{
         text-align: justify;
        padding: 10px;
    }
    .p{
        position: relative;
        top:0.5rem;
        bottom: 0;
        font-weight: bold;
        font-size: 1.5rem;
    }
  

}

/* new footer */
footer{
    background-color: black;
    color: #F8F8F8;
    margin-top: 10rem;
    overflow: hidden;
    height: auto;
    
    
}

.line{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    
    
}
@media only screen and (max-width: 767px){


    .line{
        grid-template-columns: repeat(1, 1fr) !important;
        width: 100%;
        
    
    }
    .ko h3{
        color: #F8F8F8 !important;
    }
   
    
}
@media only screen and (min-width: 768px) and (max-width: 1024px){

    .line{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .ko h3{
        color: #F8F8F8 !important;
    }
}
.line i{
    color: #E89821;
    font-size: 1rem;
}
.line a{
    color:#F8F8F8;
}
.line h3{
    color: #E89821;
}
.odd{
    color: #E89821;
}
.footer-logo h3{
    font-size: 2rem;
}
.footer-logo img{
    object-fit: cover;
}

.footer-logo a{
  text-decoration: none;
  padding:10px;
  background-color: #F8F8F8;
  margin: 5px;
  border-radius: 50%;
  
  
}
.footer-logo i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.footer-logo a:hover{
    background-color: #111;
    transition: 0.5s;
}
.footer-logo i:hover{
    color: white;
    transition: 0.5s;
}
.footer-links ul{
    list-style: none;
    display: grid;
    grid: column 1rem;
      

}
.footer-links a{
    text-decoration: none;
}
.footer-links{
    margin-top: 2rem;
    line-height: 2rem;
  
  
}
.footer-social{
   margin-top: 2rem;
   line-height: 2rem;
}
.footer-social ul{
    list-style: none;
}
.footer-social a{
    text-decoration: none;
}
.information{
    margin-top: 2rem;
    line-height: 2rem;
}
.information ul{
    list-style: none;
}
.information a{
    text-decoration: none;
}
.l{
    margin: 1rem;
    border-bottom: 1px #f8f8f82c solid;
}
.np{
    color: #f8f8f870;
    padding: 2rem 0 2rem 0;
}
