 * {
     box-sizing: border-box !important;
     padding: 0;
     margin: 0;
     font-family: sans-serif;


 }

 body {
     width: 100%;
     height: auto;
     /* background-color:black !important; */
     gap: 1rem;
     background-color: whitesmoke !important;
     color: black;


 }

 #logo img {
     object-fit: cover;
     width: 100px;
     height: 50px;

 }

 #drop {
     border: 2px solid #E89821 !important;
     outline: none !important;
     color: #E89821;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-block: 8px !important;
 }

 .navbar-nav a {
     font-size: 15px;
     text-transform: uppercase;
     font-weight: 500;
 }

 .section-padding {
     padding: 100px;
 }

 #nav {
     margin-right: 17rem;
     padding-top: 1rem;
 }

 #home {
     margin-right: 2rem;
 }

 #about {
     margin-right: 2rem;

 }

 @media screen and (max-width:767px) {


     #nav {
         width: 100%;
         display: flex;

     }

 }

 #contact {
     margin-right: 2rem;
 }

 #bt {
     margin-right: -10rem;
 }

 #bt button {
     padding: 15px 30px;
     border-radius: 5px;
     padding: 12, 20;
     color: #F8F8F8 !important;
     text-decoration: none;
     border-radius: 10px;
     font-size: 1.1em;
     border-color: #E89821;
 }

 #bt button:hover {
     background-color: #E89821;

 }



 .nav-item a {
     position: relative;
     color: #F8F8F8;
     text-decoration: none;
     transition: 0.3s ease;
     font-weight: 500;
     font-size: 1rem;
 }

 .nav-item a:before {
     content: '';
     position: absolute;
     background-color: #E89821;
     width: 0;
     height: 3px;
     bottom: 0;
     left: 0;
     transition: 0.3s ease;

 }

 .nav-item a:hover:before {
     width: 100%;
 }

 .nav-item a#about::after {
     content: '';
     position: absolute;
     background-color: #E89821;
     width: 100%;
     height: 3px;
     bottom: 0;
     left: 0;
     /* transition: 0.3s ease; */

 }

 /* Search country */
 .sec {
     width: 100%;
     height: 150px;
     background-color: #1c2530;
     color: black;
     margin-top: 4rem;
     text-align: center;
 }

 .sec p {
     padding-top: 4rem;
     font-size: 1.7rem;
     color: #F8F8F8;
 }

 .sec span {
     color: #F8F8F8;
 }

 .sec a {
     text-decoration: none;
     color: #E89821;
     cursor: pointer;
 }

 .search {
     margin-top: 10rem;
     text-align: center;

 }

 #country {
     width: 400px;
     margin: auto;

 }

 .axav ul {
     list-style: decimal;

 }

 .pa ul {
     list-style: decimal;
 }

 #bb {
     margin: 1rem 0 1rem 0;
     width: 400px;
     height: 50px;
     background-color: black !important;
     border: none;
     color: #E89821;

 }

 #bb:hover {
     background-color: #E89821 !important;
     color: black;

 }

 .axav {
     width: 80%;
     height: auto;
     text-align: justify;
     margin: 2% 0 8% 10%;
 }

 .axav a {
     color: #E89821;
     text-decoration: none;
 }

 .pa {
     width: 80%;
     height: auto;
     text-align: justify;

     margin: 2% 0 8% 10%;
 }

 /* New footer */
 footer {
     background-color: black;
     color: #F8F8F8;
     overflow: hidden;
     /* height: 570px; */
     height: auto;
     margin-top: 7rem;



 }

 .line {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     padding-top: 2rem;


 }

 @media only screen and (max-width: 767px) {

     footer {
         background-color: black;
         color: #F8F8F8;

         overflow: hidden;
         height: auto;
     }

     #country {
         width: 300px;
         margin: auto;

     }

     #bb {
         margin: 1rem 0 1rem 0;
         width: 300px;
         height: 50px;
         background-color: black !important;
         border: none;
         color: #E89821;

     }


     .line {
         grid-template-columns: repeat(1, 1fr) !important;
         width: 100%;


     }

     .ko h3 {
         color: #F8F8F8 !important;
     }


 }

 @media only screen and (min-width: 768px) and (max-width: 1024px) {
     footer {
         background-color: black;
         color: #F8F8F8;
         margin-top: 6rem;
         overflow: hidden;
         height: 100%;



     }




     .form-select {
         width: 50%;
     }


     .line {
         grid-template-columns: repeat(2, 1fr);
         width: 100%;
     }

     .ko h3 {
         color: #F8F8F8 !important;
     }


 }

 .line i {
     color: #E89821;
     font-size: 1rem;
 }

 .line a {
     color: #F8F8F8;
 }

 .line h3 {
     color: #E89821;
 }

 .odd {
     color: #E89821;
 }

 .footer-logo h3 {
     font-size: 2rem;
 }

 .footer-logo img {
     object-fit: cover;
 }

 .footer-logo a {
     text-decoration: none;
     padding: 10px;
     background-color: #F8F8F8;
     margin: 5px;
     border-radius: 50%;


 }

 .footer-logo i {
     font-size: 2rem;
     color: black;
     opacity: 0.9;
 }

 .footer-logo a:hover {
     background-color: #111;
     transition: 0.5s;
 }

 .footer-logo i:hover {
     color: white;
     transition: 0.5s;
 }

 .footer-links ul {
     list-style: none;
     display: grid;
     grid: column 1rem;


 }

 .footer-links a {
     text-decoration: none;
 }

 .footer-links {
     margin-top: 2rem;
     line-height: 2rem;


 }

 .footer-social {
     margin-top: 2rem;
     line-height: 2rem;
 }

 .footer-social ul {
     list-style: none;
 }

 .footer-social a {
     text-decoration: none;
 }

 .information {
     margin-top: 2rem;
     line-height: 2rem;
 }

 .information ul {
     list-style: none;
 }

 .information a {
     text-decoration: none;
 }

 .l {
     margin: 1rem;
     border-bottom: 1px #f8f8f82c solid;
 }

 .np {
     color: #f8f8f870;
     padding: 2rem 0 2rem 0;
 }

 .a span {
     font-weight: bold;
     font-size: 1.1rem;
 }

 .pa h5 {
     font-weight: bold;
 }